#control_toolpanel_kmgd_handle
{
	opacity:0.6;
    position: absolute;
    top: 40%;
    width: 10px;
	height:200px;
	color:#00FF00;
	background: #000000 url(black-green-theme/images/ui-bg_dots-medium_75_000000_4x4.png) 50% 50% repeat;
	vertical-align:middle;
	text-align: center;
	line-height: 200px;
	font-size: 1.2em;

}
#control_toolpanel_kmgd_left
{
	opacity:0.8;
    position: absolute;
    top: 60px;
    width: 400px;
    height: 90%;
	z-index:8;
	color:#00FF00;
	background: #000000 url(black-green-theme/images/ui-bg_diagonals-small_50_000000_40x40.png) 100% 100% repeat;
	
}


#control_search{
	opacity:0.6;
    position: absolute;
    top: 10px;
    left: 10px;
}
#drawhelpertoolbar{
	opacity:0.7;
    position: absolute;
    top: 55px;
    right: 10px;
}


#input_search{
	/*opacity:0.6;*/
    position: absolute;
    top: 0px;
    left: 49px;
	color:#00FF00;
	background:#000000;
    width: 400px;
	height:48px;
	display:none;
	border:1px solid #00FF00;
	font-size: 1.6em;
	z-index:10;
}

#button_search{
	opacity:0.6;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 48px;
	height:48px;
	border-right:1px solid #00FF00;
	background:#FFFFFF url(/img/search.png)  center;
	background-size:48px 48px;
}
#button_search:hover {
    background-color: #00FFFF;
}
#button_search_clear{
	opacity:0.3;
    position: absolute;
    top: 0px;
    left: 421px;
    width: 48px;
	height:48px;
	font-size: 2.5em;
	display:none;
	border:0px solid #00FF00;
	z-index:20;
}
#text_search_waiting{
	opacity:0.4;
    position: absolute;
    top: 10px;
    left: 180px;
    width: 230px;
	display:none;
	font-size: 1.4em;
	border:0px;
	z-index:30;
}

#div_search_option
{
    position: absolute;
    top: 48px;
    left: 48px;
	color:#00FF00;
	background:#000000;
    width: 400px;
	height:16px;
	display:none;
	border:1px solid #00FF00;
	/*z-index:10;*/
}

#div_search_option_toggle
{
	font-size: 0.5em;
	float:right;
}
#div_search_option_panel
{
	color:#00FF00;
	background:#000000;
    width: 400px;
	height:620px;
	display:none;
	border:1px solid #00FF00;
	font-size: 0.9em;
}

#div_search_option_panel fieldset
{
	color:#00FF00;
	border:1px solid #00FF00;
	margin:10px;
}
#div_search_option_panel fieldset legend
{
	font-weight:bolder;
	color:#00FF00;
}
#div_search_option_panel fieldset div div
{
	margin:10px;
	float:left;
}
#div_search_option_panel fieldset div div label
{
	vertical-align:middle;
	line-height:40px;
}



#tower_info_model_list_filter{
	color:#00FF00;
	background:#000000;
}
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background: #000000; 
}
::-webkit-scrollbar-track-piece {
    background: #000000; 
}
::-webkit-scrollbar-thumb {
	background: #00FF00; 
}
::-webkit-scrollbar-button{
    width: 4px;
	display:none;
}
#div_tower_info_model_list_selectable
{
	width:99%;
	max-height: 420px;
	overflow-y: auto;
	overflow-x: hidden;
}
#tower_info_model_list_selectable
{
	margin:0px;
	margin-right:5px;
}
#tower_info_model_list_selectable li
{
	margin:1px;
}
#tower_info_model_list_filter
{
	color: #00FF00;
	border:1px solid #00FF00;
	font-size: 1.2em;
	background:#000000;
	width:90%;
}
#tower_info_model_list_toggle :hover
{
	cursor:hand;
}
#tower_info_model_list_toggle
{
	height:16px;
	font-size: 0.8em;
	float:left;
}
#tower_info_title_model_code
{
	height:16px;
	font-size: 0.8em;
	float:right;
}
.ui-widget-content1
{
	border:1px solid #00FF00;
	font-size: 0.8em;
}
#tower_info_model_list_selectable .ui-selecting
{
	background:#005500;
}
#tower_info_model_list_selectable .ui-selected
{
	background:#009900;
}
#tower_info_model_list
{
	width:20%;
	float:left;
}

#tower_info_model iframe
{
	border:1px #00FF00 solid; 
	width:79%;
	height:460px;
}
#tower_info_segment iframe
{
	border:1px #00FF00 solid; 
	width:100%;
	height:500px;
}
#tower_info_segment_blank
{
	width:100%;
	height:450px;	
}

/* jssor slider thumbnail navigator skin 07 css */
/*
.jssort07 .p            (normal)
.jssort07 .p:hover      (normal mouseover)
.jssort07 .pav          (active)
.jssort07 .pav:hover    (active mouseover)
.jssort07 .pdn          (mousedown)
*/


.jssort07 .i {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 99px;
	height: 66px;
	filter: alpha(opacity=80);
	opacity: .8;
}

.jssort07 .p:hover .i, .jssort07 .pav .i {
	filter: alpha(opacity=100);
	opacity: 1;
}

.jssort07 .o {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 97px;
	height: 64px;
	border: 1px solid #000;
	transition: border-color .6s;
	-moz-transition: border-color .6s;
	-webkit-transition: border-color .6s;
	-o-transition: border-color .6s;
}

* html .jssort07 .o {
	/* ie quirks mode adjust */
	width /**/: 99px;
	height /**/: 66px;
}

.jssort07 .pav .o, .jssort07 .p:hover .o {
	border-color: #fff;
}

.jssort07 .pav:hover .o {
	border-color: #0099FF;
}

.jssort07 .p:hover .o {
	transition: none;
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: none;
}

/* jssor slider arrow navigator skin 11 css */
/*
.jssora11l              (normal)
.jssora11r              (normal)
.jssora11l:hover        (normal mouseover)
.jssora11r:hover        (normal mouseover)
.jssora11ldn            (mousedown)
.jssora11rdn            (mousedown)
*/
.jssora11l, .jssora11r, .jssora11ldn, .jssora11rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(img/a11.png) no-repeat;
	overflow: hidden;
}

.jssora11l {
	background-position: -11px -41px;
}

.jssora11r {
	background-position: -71px -41px;
}

.jssora11l:hover {
	background-position: -131px -41px;
}

.jssora11r:hover {
	background-position: -191px -41px;
}

.jssora11ldn {
	background-position: -251px -41px;
}

.jssora11rdn {
	background-position: -311px -41px;
}



.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}
.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-primary .badge {
  color: #428bca;
  background-color: #fff;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #47a447;
  border-color: #398439;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #39b3d7;
  border-color: #269abc;
}
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}
.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #ed9c28;
  border-color: #d58512;
}
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}
.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #d2322d;
  border-color: #ac2925;
}
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}
.btn-link {
  font-weight: normal;
  color: #428bca;
  cursor: pointer;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #2a6496;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #999;
  text-decoration: none;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}


.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable {
  padding-right: 35px;
}
.alert-dismissable .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}


.phototoolbar-delete{
	opacity:0.7;
	position: absolute;
	width:24px;
	height:24px;
	right:36px;
	bottom:10px;
	background: url(img/delete24x24_white.png) no-repeat;
}

.phototoolbar-delete:hover {
	background-color: #005500;
}

.phototoolbar-download{
	opacity:0.7;
	position: absolute;
	width:24px;
	height:24px;
	right:10px;
	bottom:10px;
	background: url(img/download24x24_white.png) no-repeat;
}

.phototoolbar-download:hover {
	background-color: #005500;
}




.tower-photo-tip
{
	z-index:10;
	/*opacity:0.5;*/
	/*background-color: #FFFF00;*/
	/*color:#000000;*/
	border-radius: 5px;
}


.kmgd-icon-selectable {list-style-type: none; margin: 0; padding: 2px; height:36px}

.kmgd-icon-selectable .ui-selecting { background: #009900; }
.kmgd-icon-selectable .ui-selected { background: #009900; color: white; }
.kmgd-icon-selectable li { margin: 2px; padding: 0px; float: left; width: 32px; height: 32px; }
.kmgd-icon-selectable li:hover 
{
	border:#00FF00 1px solid;
}
.kmgd-icon-highlight{
	background-color: #005500;
}

#accordion_tools div fieldset
{
	color:#00FF00;
	border:1px solid #00FF00;
	margin:5px;
}
#accordion_tools div fieldset legend
{
	font-weight:bolder;
	color:#00FF00;
}

#accordion_tools div fieldset div
{
	margin:5px;
}

.webgis-colorpicker
{
	color:#00FF00;
	background: #000000 url(black-green-theme/images/ui-bg_diagonals-small_50_000000_40x40.png) 100% 100% repeat;
    border:1px #00FF00 solid ;
}

.webgis-colorpicker input
{
	color:#00FF00;
}

.bubblestylesuccess
{
	color:#00FF00;
	background: #000000 url(black-green-theme/images/ui-bg_diagonals-small_50_000000_40x40.png) 100% 100% repeat;
}
.bubblestylefail
{
	color:#FF0000;
	background: #000000 url(black-green-theme/images/ui-bg_diagonals-small_50_000000_40x40.png) 100% 100% repeat;
}

#btn_edge_save
{
	float:right;
	color:#00FF00;
	background: #000000 url(black-green-theme/images/ui-bg_diagonals-small_50_000000_40x40.png) 100% 100% repeat;
	border:1px #00FF00 solid;
}

#btn_edge_save:hover
{
	background: #004400 url(black-green-theme/images/ui-bg_diagonals-small_50_000000_40x40.png) 100% 100% repeat;
}
#btn_edge_save:active
{
	background: #009900 url(black-green-theme/images/ui-bg_diagonals-small_50_000000_40x40.png) 100% 100% repeat;
	border:2px #00FF00 solid;
}
#btn_edge_save:disabled
{
	color:#777777;
	background: #002200 url(black-green-theme/images/ui-bg_diagonals-small_50_000000_40x40.png) 100% 100% repeat;
	border:1px #777777 solid;
}

.loginbackground{
	background:#000000 url(/img/logo_background2.jpg)  no-repeat center center fixed;
	background-size: cover;
}

.login-no-close .ui-dialog-titlebar-close {
  display: none;
}

.login-no-close .ui-dialog-titlebar {
  display: none;
}

.login-no-close .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: left;
}
.login-no-close .ui-dialog-buttonpane button {
	/*margin: .5em .4em .5em 0;*/
	cursor: pointer;
	width:385px;
	height:100%;
}

#lnglat_indicator
{
	position:absolute;
	bottom:5px;
	color:#00FF00;
	text-align:left;
	opacity:0.5;
    width: 450px;
    height: 20px;
	z-index:8;
	background:#000000;
}

#fieldset_select_poi_type
{
	color:#00FF00;
	border:1px #00FF00 solid;
	margin:0px;
}
#fieldset_select_poi_type legend
{
	font-weight:bolder;
	color:#00FF00;
}
#fieldset_select_poi_type span
{
	margin:20px;
}
#fieldset_select_poi_type span label
{
	display:inline-block;
	text-align:right;
	width:100px;
}
#fieldset_select_poi_type span select
{
	width:200px;
}

#fld_line_edit_choose
{
	min-height:50px;
	color:#00FF00;
	border:1px solid #00FF00;
	margin:10px;
}
#fld_line_edit_choose legend
{
	font-weight:bolder;
	color:#00FF00;
}

#line_choose
{
	margin:10px;
	width:250px;
}

#button_anti_bird{
	opacity:0.6;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 54px;
	height:54px;
	border:0px solid #00FF00;
	background:#FFFFFF url(/img/anti_bird_icon.png)  center;
	background-size:54px 54px;
	border-radius: 12px;
}
#button_anti_bird:hover {
    background-color: #FFFF00;
	border:3px solid #FFFF00;
}

#button_anti_bird:active {
    background-color: #00FF00;
	border:3px solid #00FF00;
}



#anti_bird_msg_list_container{
	opacity:0.6;
    position: absolute;
    bottom: 10px;
    right: 64px;
    width: 200px;
	height:400px;
	border:1px solid #00FF00;
    background-color: #000000;
}
#anti_bird_msg_list_filter{
	margin:6px;
	width:190px;
}
#anti_bird_msg_list_list{
	height:300px;
	overflow-y:auto;
	margin:6px;
}
#button_anti_bird_msg_list_clear{
    position: absolute;
	margin:6px;
    bottom: 10px;
}

.anti-bird-msg-list-item{
    background-color: #000000;
}
.anti-bird-msg-list-item:hover{
    background-color: #008800;
}

.ui-effects-transfer 
{ 
	z-index:8;
	border: 5px solid red;
}
#div_anti_bird_inform_icon
{
	opacity:0.6;
	z-index:8;
	position: absolute;
	background:#00FF00 url(/img/anti_bird_icon.png)  center;
	width:26px;
	height:26px;
	border-radius: 5px;
	background-size:26px 26px;
}

#div_anti_bird_info_chart
{
	width:400px;
	height:350px;
}

.anti_bird_pic_toolbutton_download
{
	opacity:0.7;
	z-index:9;
	position: absolute;
	width:24px;
	height:24px;
	right:10px;
	bottom:10px;
	background: url(img/download24x24_white.png) no-repeat;
}
.anti_bird_pic_toolbutton_download:hover {
	background-color: #00FF00;
}


.anti_bird_pic_toolbutton_set_flag
{
	opacity:0.7;
	z-index:9;
	position: absolute;
	width:24px;
	height:24px;
	right:36px;
	bottom:10px;
	background: url(img/edit24x24_white.png) no-repeat;
}
.anti_bird_pic_toolbutton_set_flag:hover {
	background-color: #00FF00;
}

.anti_bird_pic_toolbutton_get_flag
{
	opacity:0.6;
	z-index:9;
	position: absolute;
	width:26px;
	height:26px;
	border-radius: 5px;
	left:10px;
	top:10px;
	background: transparent url(img/anti_bird_icon_checked.png) center;
	background-size:26px 26px;
	border:1px solid green;
}
