<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="description" content="Use the Viewer Widget to start building new applications or easily embed Cesium into existing applications.">
    <meta name="cesium-sandcastle-labels" content="Beginner, Showcases">
    <title>KMGD WebGIS Demo v0.01</title>
	<!--<link rel="stylesheet" href="js/CesiumUnminified/Widgets/widgets.css" />-->
	<link rel="stylesheet" href="js/Cesium/Widgets/widgets.css" />
	<link rel="stylesheet" href="css/leaflet.css" />
	<link rel="stylesheet" href="css/MarkerCluster.css" />
	<link rel="stylesheet" href="css/MarkerCluster.Default.css" />
	<link rel="stylesheet" href="css/L.Control.MousePosition.css" />
	<link rel="stylesheet" href="css/leaflet.label.css" />
	<link rel="stylesheet" href="css/ligerui-skins/Aqua/css/ligerui-all.css" />
	<link rel="stylesheet" href="css/ligerui-skins/ligerui-icons.css" />
	<link rel="stylesheet" href="css/black-green-theme/jquery-ui-1.10.4.custom.css" />
	<link rel="stylesheet" href="css/DrawHelper.css" />
	<link rel="stylesheet" href="css/tooltipster.css" />
	<link rel="stylesheet" href="css/icheck-skins/flat/green.css" />
	<link rel="stylesheet" href="css/spectrum.css" />
	<link rel="stylesheet" href="css/jquery.fileupload.css">
	<link rel="stylesheet" href="css/jquery.fileupload-ui.css">
	<link rel="stylesheet" href="css/jquery.jgrowl.css">
	<link rel="stylesheet" href="css/kmgd-tools.css" />
	<link rel="stylesheet" href="css/kmgd-icon.css" />
	<link rel="stylesheet" href="css/fotorama.css" />
	<link rel="stylesheet" href="css/multiple-select.css" />
	<link rel="stylesheet" href="css/iosbadge.css" />
    <script type="text/javascript" src="js/jquery/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/lodash.min.js"></script>
    <!--<script type="text/javascript" src="js/jquery/jquery-1.11.1.min.js"></script>-->
    <!--<script type="text/javascript" src="js/CesiumUnminified/Cesium.js"></script>-->
    <script type="text/javascript" src="js/Cesium/Cesium.js"></script>
    <script type="text/javascript" src="js/CFTTileImageryProvider.js"></script>
    <script type="text/javascript" src="js/HeightmapAndQuantizedMeshTerrainProvider.js"></script>
    <script type="text/javascript" src="js/ArcGisMapServerImageryProvider.js"></script>
    <script type="text/javascript" src="js/BingImageryFromServerProvider.js"></script>
    <script type="text/javascript" src="js/AMapTileImageryProvider.js"></script>
    <script type="text/javascript" src="js/ESRIImageryFromServerProvider.js"></script>
    <script type="text/javascript" src="js/HeatMapImageryProvider.js"></script>
    <script type="text/javascript" src="js/DrawHelper.js"></script>
    <script type="text/javascript" src="js/DrawHelper2D.js"></script>
    <script type="text/javascript" src="js/jquery/jquery-uuid.js"></script>
    <script type="text/javascript" src="js/jquery/jquery-ui-1.10.4.custom.js"></script>
    <script type="text/javascript" src="js/icheck.js"></script>
    <script type="text/javascript" src="js/json3.js"></script>
    <script type="text/javascript" src="js/jquery/jquery.validate.js"></script>
    <script type="text/javascript" src="js/jquery/jquery.metadata.js"></script>
    <script type="text/javascript" src="js/jquery/messages_cn.js"></script>
    <script type="text/javascript" src="js/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="js/ligerui.min.js"></script>
    <script type="text/javascript" src="js/MathLib.min.js"></script>
    <script type="text/javascript" src="js/tinycolor-min.js"></script>
    <!--<script type="text/javascript" src="js/jssor.core.js"></script>-->
    <!--<script type="text/javascript" src="js/jssor.utils.js"></script>-->
    <!--<script type="text/javascript" src="js/jssor.slider.js"></script>-->
    <script type="text/javascript" src="js/fotorama.js"></script>
    <script type="text/javascript" src="js/geojson-extent.js"></script>
	<script type="text/javascript" src="js/jquery/jquery.tooltipster.js"></script>
	<script type="text/javascript" src="js/jquery/jquery.jgrowl.js"></script>
	<script type="text/javascript" src="js/jquery/jquery.multiple.select.js"></script>
	<script type="text/javascript" src="js/iosbadge.min.js"></script>
	<script type="text/javascript" src="js/spectrum.js"></script>
    <script type="text/javascript" src="js/catenary.js"></script>
    <script type="text/javascript" src="js/polyk.js"></script>
	<script type="text/javascript" src="js/reconnecting-websocket.js"></script>
	<script type="text/javascript" src="js/encryption/aes.js"></script>
    <script type="text/javascript" src="js/leaflet/leaflet-src-0.7.3.js"></script>
    <!--<script type="text/javascript" src="js/leaflet/leaflet-src-0.8-dev.js"></script>-->
    <script type="text/javascript" src="js/leaflet/leaflet.ChineseTmsProviders.js"></script>
    <script type="text/javascript" src="js/leaflet/L.Control.MousePosition.js"></script>
    <script type="text/javascript" src="js/leaflet/leaflet.polylineDecorator.js"></script>
    <script type="text/javascript" src="js/leaflet/leaflet.markercluster-src.js"></script>
    <script type="text/javascript" src="js/leaflet/leaflet.label-src.js"></script>
    <script type="text/javascript" src="js/leaflet/heatmap.js"></script>
    <script type="text/javascript" src="js/leaflet/leaflet-heatmap.js"></script>
	
    <script type="text/javascript" src="js/webgis_common.js"></script>
    <script type="text/javascript" src="js/highcharts.js"></script>
    <script type="text/javascript" src="js/anti_bird_chart.js"></script>
    <script type="text/javascript" src="js/FileSaver.min.js"></script>
    <script type="text/javascript" src="js/canvas-toBlob.js"></script>
    <script type="text/javascript" src="js/webgis_form_data.js"></script>
	<style>

	</style>
	
</head>
<body>

<div id="cesiumContainer" class="fullSize" ></div>
<div id="lnglat_indicator" class="kmgd-lnglat-indicator"></div>
<div id="div_anti_bird_inform_icon"></div>
<div id="control_anti_bird" >
	<div id="button_anti_bird" ></div>
	<div id="anti_bird_msg_list_container" >
		<input type="text" class="ui-widget"   id="anti_bird_msg_list_filter" placeholder="请输入关键字过滤">
		<div id="button_anti_bird_msg_list_clear"></div>
		<div id="anti_bird_msg_list_list"></div>
	</div>
</div>

<div id="control_search" >
	<div id="button_search" ></div>
	<div id="text_search_waiting" >输入关键字拼音首字母</div>
	<input id="input_search" type="text" value =""><span id="button_search_clear">X</span>
	<div id="div_search_option">
		<div id="div_search_option_toggle">
			<label>更多选项&gt;&gt;</label>
		</div>
		<div id="div_search_option_panel">
			<fieldset>
				<legend>搜索范围 - 地标</legend>
				<div>
					<div><input id='chb_search_webgis_type_point_tower' type='checkbox'><label for='chb_search_webgis_type_point_tower'>杆塔</label></div>
					<div><input id='chb_search_webgis_type_point_marker' type='checkbox'><label for='chb_search_webgis_type_point_marker'>地标</label></div>
					<div><input id='chb_search_webgis_type_point_hazard' type='checkbox'><label for='chb_search_webgis_type_point_hazard'>隐患点</label></div>
					<div><input id='chb_search_webgis_type_point_dn' type='checkbox'><label for='chb_search_webgis_type_point_dn'>配网设备</label></div>
				</div>
			</fieldset>
			<fieldset>
				<legend>搜索范围 - 地点</legend>
				<div>
					<div><input id='chb_search_webgis_type_point_subcity' type='checkbox'><label for='chb_search_webgis_type_point_subcity'>地市</label></div>
					<div><input id='chb_search_webgis_type_point_county' type='checkbox'><label for='chb_search_webgis_type_point_county'>区县</label></div>
					<div><input id='chb_search_webgis_type_point_town' type='checkbox'><label for='chb_search_webgis_type_point_town'>乡镇</label></div>
					<div><input id='chb_search_webgis_type_point_village' type='checkbox'><label for='chb_search_webgis_type_point_village'>村寨</label></div>
				</div>
			</fieldset>
			<fieldset>
				<legend>搜索范围 - 道路</legend>
				<div>
					<div><input id='chb_search_webgis_type_polyline_nationalroad' type='checkbox'><label for='chb_search_webgis_type_polyline_nationalroad'>国道</label></div>
					<div><input id='chb_search_webgis_type_polyline_provinceroad' type='checkbox'><label for='chb_search_webgis_type_polyline_provinceroad'>省道</label></div>
					<div><input id='chb_search_webgis_type_polyline_heighway' type='checkbox'><label for='chb_search_webgis_type_polyline_heighway'>高速路</label></div>
				</div>
			</fieldset>
			<fieldset>
				<legend>搜索范围 - 线状物</legend>
				<div>
					<div><input id='chb_search_webgis_type_polyline_marker' type='checkbox'><label for='chb_search_webgis_type_polyline_marker'>线状地标</label></div>
					<div><input id='chb_search_webgis_type_polyline_hazard' type='checkbox'><label for='chb_search_webgis_type_polyline_hazard'>线状隐患源</label></div>
					<div><input id='chb_search_webgis_type_polyline_line' type='checkbox'><label for='chb_search_webgis_type_polyline_line'>输电线路</label></div>
				</div>
			</fieldset>
			<fieldset>
				<legend>搜索范围 - 多边形</legend>
				<div>
					<div><input id='chb_search_webgis_type_polygon_marker' type='checkbox'><label for='chb_search_webgis_type_polygon_marker'>多边形地标</label></div>
					<div><input id='chb_search_webgis_type_polygon_hazard' type='checkbox'><label for='chb_search_webgis_type_polygon_hazard'>多边形隐患源</label></div>
				</div>
			</fieldset>
			<fieldset>
				<legend>搜索范围 - 热度图</legend>
				<div>
					<div><input id='chb_search_webgis_type_heatmap_heatmap' type='checkbox'><label for='chb_search_webgis_type_heatmap_heatmap'>矢量式</label></div>
					<div><input id='chb_search_webgis_type_heatmap_tile' type='checkbox'><label for='chb_search_webgis_type_heatmap_tile'>瓦片式</label></div>
				</div>
			</fieldset>
		
		</div>
		
	</div>
</div>


<div id="drawhelpertoolbar" >
</div>

<div id="control_toolpanel_kmgd_handle">&gt;
</div>
<div id="control_toolpanel_kmgd_left" >
	<div id="accordion_tools">
	  <h3>地图图层</h3>
	  <div style="min-height:400px;">
		<fieldset>
			<legend>杆塔</legend>
			<div>
				<input id='chb_show_label_point_tower' type='checkbox'><label for='chb_show_label_point_tower'>显示杆塔名称</label>
			</div>
		</fieldset>
		<fieldset>
			<legend>地标</legend>
			<div>
				<input id='chb_show_label_point_marker' type='checkbox'><label for='chb_show_label_point_marker'>显示地标名称</label>
				<input id='chb_show_icon_point_marker' type='checkbox'><label for='chb_show_icon_point_marker'>显示图标</label>
			</div>
		</fieldset>
		<fieldset>
			<legend>线路</legend>
			<div>
				<input id='chb_show_label_polyline_line' type='checkbox'><label for='chb_show_label_polyline_line'>显示线路名称</label>
				<!--<input id='chb_show_geometry_polyline_line' type='checkbox'><label for='chb_show_geometry_polyline_line'>显示线路</label>-->
				<input id='chb_show_geometry_edge_tower' type='checkbox'><label for='chb_show_geometry_edge_tower'>显示结点关系</label>
			</div>
		</fieldset>
		<fieldset>
			<legend>热度图</legend>
			<div>
				<label for="slider_heatmap_alpha">透明度:70%</label>
				<div id="slider_heatmap_alpha" ></div>
				<div id="but_heatmap_clear"></div>
			</div>
		</fieldset>
	  </div>
	  <h3>POI设置</h3>
	  <div style="min-height:400px;">
		 <div id='but_add_poi'></div>
		 <div id='but_remove_poi'></div>
	  </div>
	  <h3>输电线路</h3>
	  <div style="min-height:400px;">
		 <div id='but_line_edit'></div>
		 <div id='but_line_add'></div>
	  </div>
	  <h3>配电网络</h3>
	  <div style="min-height:400px;">
		 <div id='but_dn_add'></div>
		 <div id='but_dn_remove'></div>
	  </div>
	  <h3>系统管理</h3>
	  <div style="min-height:400px;">
		 <div id='but_sys_change_password'></div>
		 <div id='but_sys_role'></div>
	  </div>
	</div>	
</div>

<div id="dlg_change_password" style="display:none;">
	<form id="form_change_password"></form>
</div>
<div id="dlg_change_role" style="display:none;">
	<form id="form_change_role"></form>
</div>

<div id="dlg_dn_create" style="display:none;">
	<form id="form_dn_create"></form>
</div>

<div id="dlg_line_info" style="display:none;">
	<fieldset id="fld_line_edit_choose" style="display:none">
		<legend >输电线路列表</legend>
		<div>
			<label for="line_choose">请选择输电线路<label><select id="line_choose"></select>
			<div id='but_line_delete' style="float:right"></div>
		</div>
	</fieldset>
	<p></p>
	<div id="tabs_line_info" >
		<ul>
			<li><a href="#line_info_base">基础信息</a></li>
			<li><a href="#line_info_photo">照片文档</a></li>
		</ul>
		<div id="line_info_base">
			<form id="form_line_info"></form>
		</div>
		<div id="line_info_photo" >
		</div>
	</div>
</div>

<div id="dlg_buffer_analyze" style="display:none;">
	<span>
		<form id="form_buffer_create"></form>
	</span>
	<span>
		<form id="form_buffer_analyze"></form>
	</span>
</div>

<div id="dlg_poi_info" style="display:none;">
	<div  id="tabs_poi_info" >
		<ul>
			<li><a href="#poi_info_base">基础信息</a></li>
			<li><a href="#poi_info_photo">照片文档</a></li>
		</ul>
		<div id="poi_info_base">
			<div id="div_select_poi_type"></div>
			<fieldset id="fieldset_select_poi_type" ><legend >类型</legend>
				<span >
					<label for="select_poi_type" >兴趣点类型:</label>
					<select id="select_poi_type" name="select_poi_type"></select>
				</span>
			</fieldset>
			<div>
				<form id="form_poi_info_point_marker"></form>
			</div>
			<div>
				<form id="form_poi_info_point_hazard"></form>
			</div>
			<div>
				<form id="form_poi_info_point_tower"></form>
			</div>
			<div>
				<form id="form_poi_info_point_dn"></form>
			</div>
			<div>
				<form id="form_poi_info_polyline_marker"></form>
			</div>
			<div>
				<form id="form_poi_info_polyline_hazard"></form>
			</div>
			<div>
				<form id="form_poi_info_polygon_marker"></form>
			</div>
			<div>
				<form id="form_poi_info_polygon_hazard"></form>
			</div>
		</div>
		<div id="poi_info_photo" >
		</div>
	</div>
</div>

<div id="dlg_anti_bird_info" style="display:none;">
	<div id="tabs_anti_bird_info">
		<ul>
			<li><a href="#anti_bird_info_pics">拍摄图片</a></li>
			<li><a href="#anti_bird_info_chart">统计图表</a></li>
			<li><a href="#anti_bird_info_heatmap">热度图</a></li>
		</ul>
		<div id="anti_bird_info_pics">
			<div id="div_anti_bird_info_pics">
			</div>
		</div>
		<div id="anti_bird_info_chart">
			<form id="form_anti_bird_info_chart">
			</form>
			<div id="div_anti_bird_info_chart"></div>
		</div>
		<div id="anti_bird_info_heatmap">
			<form id="form_anti_bird_info_heatmap">
			</form>
		</div>
	</div>
</div>


<div id="dlg_tower_info" style="display:none;">
	<div id="tabs_tower_info">
		<ul>
			<li><a href="#tower_info_base">基础信息</a></li>
			<li><a href="#tower_info_model">杆塔模型</a></li>
			<li><a href="#tower_info_segment">架空线段</a></li>
			<li><a href="#tower_info_metal">金具/附件</a></li>
			<li><a href="#tower_info_photo">照片文档</a></li>
		</ul>
		<div id="tower_info_base">
			<form id="form_tower_info_base">
			</form>
		</div>
		<div id="tower_info_model">
			<div style='opacity:1.0;'>
				<div id="tower_info_model_list" >
					<div style="height:16px"></div>
					<div ><input id='tower_info_model_list_filter' type='text' ></div>
					<div id="div_tower_info_model_list_selectable">
						<ol id="tower_info_model_list_selectable" >
						</ol>					
					</div>
				</div>
				<div style="width:79%">
					<div id="tower_info_model_list_toggle" ><a href='javascript:void(0);'></a></div>
					<div id="tower_info_title_model_code" ></div>
				</div>
				<iframe scrolling="no" src=''>正在加载模型...</iframe>
				<div id="tower_info_model_blank" style="display:none;"></div>
			</div>
		</div>
		<div id="tower_info_segment">
			<div style='opacity:1.0;'>
				<iframe scrolling="no" src=''>正在加载模型...</iframe>
				<div id="tower_info_segment_blank" ></div>
			</div>
			
		</div>
		<div id="tower_info_metal">
			<div id="listbox_tower_info_metal">
			</div>
			<form id="form_tower_info_metal">
			</form>
		</div>
		<div id="tower_info_photo" >
		</div>
		<!--<div id="tower_info_test" style="width:520px;height:480px;">-->
		<!--</div>-->
	</div>
</div>
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
	<tr class="template-upload fade">
		<td>
			<span class="preview"></span>
		</td>
		<td>
			<p class="name" data-filename="{%=file.name%}">{%=file.name.substr(0,18)%}</p>
			<strong class="error text-danger"></strong>
		</td>
		<td>
			<p class="size">正在上传，请稍候...</p>
			<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="border:2px green solid;height:5px;margin:2px;">
				<div class="progress-bar progress-bar-success" style="width:0%;"></div>
			</div>
		</td>
		<td>
			{% if (!i && !o.options.autoUpload) { %}
				<button class="btn-primary start" disabled>
					<span>上传</span>
				</button>
			{% } %}
			{% if (!i) { %}
				<button class="btn-warning cancel">
					<span>取消</span>
				</button>
			{% } %}
		</td>
	</tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
	<tr class="template-download fade">
		<td>
			<span class="preview">
				{% if (file.thumbnailUrl) { %}
					<a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
				{% } %}
			</span>
		</td>
		<td>
			<p class="name">
				{% if (file.url) { %}
					<a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
				{% } else { %}
					<span>{%=file.name%}</span>
				{% } %}
			</p>
			{% if (file.error) { %}
				<div><span class="label label-danger">Error</span> {%=file.error%}</div>
			{% } %}
		</td>
		<td>
			<span class="size">{%=o.formatFileSize(file.size)%}</span>
		</td>
		<td>
			{% if (file.deleteUrl) { %}
				<button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
					<i class="glyphicon glyphicon-trash"></i>
					<span>Delete</span>
				</button>
				<input type="checkbox" name="delete" value="1" class="toggle">
			{% } else { %}
				<button class="btn btn-warning cancel">
					<i class="glyphicon glyphicon-ban-circle"></i>
					<span>Cancel</span>
				</button>
			{% } %}
		</td>
	</tr>
{% } %}
</script>

<script type="text/javascript" src="js/jquery/tmpl.min.js"></script>
<script type="text/javascript" src="js/jquery/load-image.min.js"></script>
<script type="text/javascript" src="js/jquery/canvas-to-blob.min.js"></script>
<script type="text/javascript" src="js/jquery/jquery.fileupload.js"></script>
<script type="text/javascript" src="js/jquery/jquery.fileupload-process.js"></script>
<script type="text/javascript" src="js/jquery/jquery.fileupload-image.js"></script>
<script type="text/javascript" src="js/jquery/jquery.fileupload-audio.js"></script>
<script type="text/javascript" src="js/jquery/jquery.fileupload-video.js"></script>
<script type="text/javascript" src="js/jquery/jquery.fileupload-validate.js"></script>
<script type="text/javascript" src="js/jquery/jquery.fileupload-ui.js"></script>
<script type="text/javascript" src="js/jquery/jquery.fileupload-jquery-ui.js"></script>
<script type="text/javascript" src="js/webgis_index.js"></script>

</body>
</html>
